<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE UPLOADING</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <form action="{% url 'myapp:img_display' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            Image:<input type="file" name="sample" id="sample">
            <input type="submit" value="Submit">
        </form>
        {% if file_urls %}
            <img src="{{ file_url }}" alt="No Image Found" height="200" width="200">
        {% endif %}
</body>
</html>